*.iws
*.ipr
*.iml
.idea/
target/
out/
screenshots/
bin/
.classpath
.project
*~
*.mtl

libs/

res/fonts/

res/model/

res/textures/

src/main/java/HelloTriangleGL3\.java

src/main/java/de/sscholz/util/expression/
